atomicwrites==1.1.5
attrs==18.1.0
boto==2.48.0
boto3==1.7.40
botocore==1.10.40
certifi==2018.11.29
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.1
dj-database-url==0.5.0
django>=2.2.10
django-admin-env-notice==0.1.5
django-admin-honeypot==1.1.0
django-cors-headers==2.2.0
django-filter==1.1.0
django-rest-auth==0.9.3
django-storages==1.6.6
djangorestframework==3.9.1
djangorestframework-camel-case==0.2.0
djangorestframework-jwt==1.11.0
docutils==0.14
drf-yasg==1.13.0
Faker==0.8.8
gunicorn==19.8.1
idna==2.8
inflection==0.3.1
itypes==1.1.0
Jinja2==2.10.1
jmespath==0.9.3
jsonfield2==3.0.1
Markdown==2.6.11
MarkupSafe==1.1.0
mixer==6.0.1
more-itertools==4.2.0
pluggy==0.6.0
psycopg2==2.7.5
psycopg2-binary==2.7.4
py==1.5.3
Pygments==2.7.4
PyJWT==1.6.4
pytest==3.6.1
pytest-cov==2.5.1
pytest-django==3.2.1
python-dateutil==2.7.3
pytz==2018.4
raven==6.9.0
requests==2.21.0
ruamel.yaml==0.15.87
s3transfer==0.1.13
six==1.11.0
text-unidecode==1.2
uritemplate==3.0.0
urllib3==1.24.2
whitenoise==3.3.1
