

container_commands:
  01_migrate:
    command: "python ebdjango/manage.py migrate"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "ebdjango.settings"
    "PYTHONPATH": "/opt/python/current/app/ebdjango:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "ebdjango/ebdjango/wsgi.py"
    StaticFiles: "/static/=ebdjango/static/"
